apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: petroshenko
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "pixname"
            - name: POSTGRES_USER
              value: "pixname"
            - name: POSTGRES_PASSWORD
              value: "pixname"  # для лабы ок, в проде — secret!
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: petroshenko
spec:
  selector:
    app: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  type: ClusterIP  # только внутренний доступ